@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      height: 8px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 99px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #eee;
    }
}